@font-face {
  font-family: "normal";
  src: url("../fonts/SourceSansPro-Regular.ttf");
}

@font-face {
  font-family: "bold-font";
  src: url("../fonts/SourceSansPro-Bold.ttf");
}

body {
  margin: 0;
  font-family: "normal", cursive;
  color: #212121;
}

h1,
h2,
h3,
h4,
h5,
h6,
.bold {
  font-weight: bold !important;
}

.normal {
  font-weight: normal !important;
}

.normal-font {
  font-family: "normal" !important;
}

.bold-font {
  font-family: "bold-font" !important;
}

.main-color {
  color: #7c2da2 !important;
}

.main-color-bg {
  background-color: #7c2da2 !important;
}

.s-color {
  color: #ff7162 !important;
}

.s-color-bg {
  background-color: #ff7162 !important;
}

.grey-bg {
  background-color: #f9f9f9 !important;
}

.main-btn {
  background-color: #7c2da2 !important;
  color: #fff !important;
  border-radius: 5px;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 6px 15px;
}

a {
  text-decoration: none;
  color: #7c2da2;
  display: inline-block;
}

a:hover {
  text-decoration: none;
}

.btn {
  border: none;
}

.btn:focus {
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn:hover {
  -webkit-box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
  color: #fff;
}

.btn {
  border: none;
}

.btn:focus {
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn:hover {
  -webkit-box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
  color: #fff;
}

button:focus {
  border: none;
  outline: none;
}

.btn-default {
  background-color: #e2e2e2;
}

.btn-default:hover {
  color: #212121;
}

.modal-header {
  border-bottom: 1px solid #e2e2e2 !important;
  padding: 10px 20px !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-header h5 {
  margin: 0 !important;
}

.modal-header span {
  font-size: 35px;
}

.panel-section {
  background-color: #fff;
  padding: 20px;
}

.panel-section .panel-head {
  border-bottom: 1px solid #e2e2e2;
}

.panel-section .panel-body {
  padding: 30px 0;
}

.panel-section .panel-body .client-image {
  max-width: 100px !important;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-bottom: 10px;
}

.btn-facebook {
  background-color: #4267b2;
  color: #fff !important;
}

img {
  width: 100% !important;
}

p {
  font-size: 13.5px;
}

ul {
  list-style: none;
  padding: 0;
}

.panel {
  background-color: #eeeeee;
  padding: 20px;
  height: 100%;
}

.logo {
  font-size: 1.7rem;
}

section {
  padding: 40px 0;
}

section .section-title {
  margin-bottom: 25px;
}

.form-control:focus {
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border-color: #ccc;
}

.slider-wrapper {
  position: relative;
}

.slider-wrapper .content {
  padding-bottom: 35px;
}

.slider-wrapper > span {
  position: absolute;
  top: 50%;
  font-size: 2rem;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  cursor: pointer;
  color: #999;
}

.slider-wrapper > span.prev {
  left: -35px;
}

.slider-wrapper > span.next {
  right: -35px;
}

.slider-wrapper .slider-gallery {
  margin: 20px -10px 0 -10px;
}

.slider-wrapper .slider-gallery .gallery-item {
  padding: 0 10px;
}

.slider-wrapper .slider-gallery .item-info {
  background-color: #eee;
  text-align: center;
  padding: 20px;
}

.slick-dots {
  bottom: -40px;
}

.transition, .form-control,
div, .navbar, .navbar .login-btn, #sub-services .item, #task-details .offers-list .offer-item, .pagination .page-item a {
  transition: all ease-in-out .4s;
  -webkit-transition: all ease-in-out .4s;
  -moz-transition: all ease-in-out .4s;
  -ms-transition: all ease-in-out .4s;
  -o-transition: all ease-in-out .4s;
}

.img-holder {
  overflow: hidden;
  position: relative;
}

.img-holder img {
  transition: all ease-in-out 1s;
  -webkit-transition: all ease-in-out 1s;
  -moz-transition: all ease-in-out 1s;
  -ms-transition: all ease-in-out 1s;
  -o-transition: all ease-in-out 1s;
}

.img-holder img:hover {
  transform: scale(1.2) rotate(2deg);
  -webkit-transform: scale(1.2) rotate(2deg);
  -moz-transform: scale(1.2) rotate(2deg);
  -ms-transform: scale(1.2) rotate(2deg);
  -o-transform: scale(1.2) rotate(2deg);
}

.iti {
  display: block;
}

.custom-control-input:focus ~ .custom-control-label::before {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #7c2da2;
}

.custom-control-label::before {
  background-color: #fff;
  border: 1px solid #222;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 0;
}

.custom-control-label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.slick-prev::before {
  content: "<";
  color: #aaa;
  font-size: 30px;
}

.slick-next:before {
  content: ">";
  color: #aaa;
  font-size: 30px;
}

::-webkit-input-placeholder {
  color: #a19ea3 !important;
}

:-ms-input-placeholder {
  color: #a19ea3 !important;
}

::-ms-input-placeholder {
  color: #a19ea3 !important;
}

::placeholder {
  color: #a19ea3 !important;
}

.datepicker.form-control {
  color: #a19ea3 !important;
}

li.notify::after {
  content: '';
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #ff3f21;
  position: absolute;
  right: 0;
  top: 6px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.page-content {
  margin-top: 60px;
}

.page-content .page-content-head {
  margin-bottom: 30px;
  margin-top: 18px;
}

.other-Service {
  margin-bottom: 25px;
}

.box-content {
  background-color: #fff;
  border: solid 1px #e2e2e2;
  padding: 22px;
  height: auto;
}

.box-head {
  border-bottom: 2px solid #f9f9f9;
  margin-bottom: 30px;
}

.box-head h5 {
  padding: 0 5px;
  color: #7c2da2;
  display: inline-block;
  font-weight: 600;
}

footer.home-footer {
  padding: 40px 0 0 0 !important;
}

i.fas,
i.far {
  color: #a19ea3;
}

.center-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.accord {
  margin: 30px 0;
}

.accord .accord-item {
  border: 1px solid #e2e2e2;
  margin: 10px 0;
  padding: 10px 20px;
}

.accord .accord-item .accord-link {
  display: block;
  position: relative;
  font-size: 20px;
  padding: 5px 0;
  -webkit-transition: all ease .2s;
  transition: all ease .2s;
  color: #212121;
}

.accord .accord-item .accord-link i {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.accord .accord-item .accord-link.active, .accord .accord-item .accord-link:hover {
  color: #7c2da2;
}

.accord .accord-item .accord-link.active i, .accord .accord-item .accord-link:hover i {
  color: #7c2da2;
}

.accord .accord-item .item-content {
  padding: 20px 0;
  font-size: 14px;
}

.terms p {
  font-size: 14px;
  margin: 0;
}

.form-control.error,
div.error {
  border-color: red !important;
}

.service-name {
  font-size: 20px;
}

.offer-num {
  width: 17px;
  height: 16px;
  border-radius: 8.8px;
  background-color: #ff3f21;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  text-align: center;
  font-size: 12px;
}

.offer-num:hover {
  color: #fff;
}

/*============================  Start Header Styling  ===============================*/
header {
  height: 100vh;
  padding-top: 30px;
  background-image: url("../img/home/header-bg.png");
  background-position: 0 60px;
  background-size: cover;
  position: relative;
}

header .header-content {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

header .header-content .wrapper {
  margin-top: -30px;
}

header .header-content .wrapper .form-group .form-control {
  padding: 25px;
  font-size: 1.2rem;
  position: relative;
}

header .header-content .wrapper .form-group .fas {
  position: absolute;
  right: 40px;
  top: 18px;
  font-size: 1rem;
}

header#subCatHead {
  background-image: url("../img/home/home_services.jpg");
  height: 350px;
}

header#subCatHead .wrapper {
  margin: 0;
  color: #fff;
  font-weight: bold;
}

header#subCatHead:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

header.customer {
  background-image: none;
}

.navbar {
  background-color: #fff;
  padding: 10px 0;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.navbar .navbar-brand {
  font-size: 2rem;
}

.navbar .nav-item .nav-link {
  color: #7c2da2;
}

.navbar .nav-item.active .nav-link {
  font-weight: bold;
}

.navbar .login-btn {
  color: #7c2da2;
  border: 1px solid #7c2da2;
  padding: 5px 15px;
  margin-left: 10px;
}

.navbar .login-btn:hover {
  background-color: #7c2da2;
  color: #fff;
}

.navbar-toggler:not(:disabled):not(.disabled) {
  background-color: #7c2da2;
  color: #fff;
  border: none;
  padding: 0.45rem .75rem;
}

.navbar-toggler:not(:disabled):not(.disabled):focus {
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.carousel-inner .carousel-item {
  position: relative;
  height: 514px;
}

.carousel-inner .carousel-item img {
  height: 100%;
}

.carousel-inner .carousel-item .offer-details {
  position: absolute;
  left: 90px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.carousel-inner .carousel-item .offer-details .btn {
  background-color: #fff;
  padding: 10px 17px;
}

.carousel-inner .carousel-item .offer-details .btn:hover {
  color: #212121;
}

.carousel-indicators li {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  opacity: 1;
}

.carousel-indicators li.active {
  background-color: #7c2da2;
}

/*============================  End Header Styling  ===============================*/
#services .single-service .img-holder {
  height: 300px;
}

#services .single-service .img-holder img {
  width: 100%;
  height: 100%;
}

#services .slider-gallery .img-holder {
  height: 200px;
}

#services .slider-gallery .img-holder img {
  width: 100%;
  height: 100%;
}

#services .slider-gallery h4 {
  font-size: 1.1rem;
}

#services .slider-gallery a.btn {
  font-size: .9rem;
}

#works .img-holder {
  padding: 20px;
}

#works .img-holder img:hover {
  transform: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
}

#works h4 {
  margin: 30px 0;
  color: #7c2da2;
}

#works p {
  text-align: justify;
}

/*======== testmonials ===========*/
#testmonials .slider-gallery .test-item {
  padding: 0 20px;
}

#testmonials .slider-gallery .test-item > p {
  font-size: 13.5px;
  line-height: 23px;
}

#testmonials .slider-gallery .test-item .info .img-wrapper {
  width: 79px;
  height: 79px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
}

#testmonials .slider-gallery .test-item .info .img-wrapper img {
  width: 100%;
}

#testmonials .slider-gallery .test-item .info .p-name {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#testmonials .slider-gallery .test-item .info .p-name h5,
#testmonials .slider-gallery .test-item .info .p-name p {
  margin: 0;
}

#testmonials .slider-gallery .test-item .info .p-name h5 {
  font-size: 18.5px;
}

/*======== /testmonials ===========*/
/*======== m-app ===========*/
#m-app {
  padding: 20px 0;
}

#m-app .img-wrapper {
  position: relative;
  height: 100%;
}

#m-app .img-wrapper img {
  width: 50% !important;
  max-width: 50% !important;
  position: relative;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

#m-app .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#m-app .info img {
  width: 120px !important;
  margin: 0 auto;
}

/*======== /m-app ===========*/
/*======== footer ===========*/
footer {
  padding: 0;
  border-top: 1px solid #eee;
}

footer ul {
  margin-bottom: 20px;
}

footer ul li a {
  font-weight: bold;
  font-size: 13px;
  color: #777;
}

footer ul li a:hover {
  color: #333;
}

footer ul li a i {
  width: 20px;
}

footer a.logo {
  font-size: 1.6rem;
}

footer .copyright {
  padding: 20px 0;
}

footer .copyright a {
  padding: 0 5px;
}

footer .copyright a.active {
  color: #7c2da2;
  font-weight: bold;
}

/*======== /footer ===========*/
/*======== sub-services ===========*/
#sub-services .item {
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

#sub-services .item:hover {
  -webkit-box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.2);
}

#sub-services .item .info {
  padding: 10px;
  text-align: center;
}

#sub-services .item .img-holder {
  height: 250px;
}

#sub-services .item .img-holder img {
  width: 100% !important;
  height: 100% !important;
}

#sub-services .item h4 {
  font-size: 1.2rem;
}

/*======== /sub-services ===========*/
/*======== Login Page  ===========*/
.login-wrapper {
  background-image: url("../img/login/bg.png");
  height: 100vh;
  overflow: auto;
  background-size: cover;
}

.login-wrapper .login {
  background-color: #fff;
  padding: 20px;
  margin-top: 10vh;
}

.login-wrapper .login .logo {
  margin-bottom: 20px;
}

.login-wrapper .login .btn-facebook {
  position: relative;
}

.login-wrapper .login .btn-facebook i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.login-wrapper .login .provider-reg img,
.login-wrapper .login .customer-reg img {
  width: 70px !important;
}

.login-wrapper .login #cUploadImg .d-flex .img-wrapper,
.login-wrapper .login #pUploadImg .d-flex .img-wrapper {
  width: 77px;
  height: 77px;
  margin-right: 15px;
}

.login-wrapper .login #cUploadImg .d-flex .img-wrapper img,
.login-wrapper .login #pUploadImg .d-flex .img-wrapper img {
  width: 115% !important;
}

.login-wrapper .login #cUploadImg .d-flex .upload,
.login-wrapper .login #pUploadImg .d-flex .upload {
  display: inline-block;
  padding: 10px;
  background-color: #f9f9f9;
  position: relative;
  width: 100px;
  height: 40px;
  margin-top: 15px;
  overflow: hidden;
}

.login-wrapper .login #cUploadImg .d-flex .upload span,
.login-wrapper .login #cUploadImg .d-flex .upload input,
.login-wrapper .login #pUploadImg .d-flex .upload span,
.login-wrapper .login #pUploadImg .d-flex .upload input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.login-wrapper .login #cUploadImg .d-flex .upload span,
.login-wrapper .login #pUploadImg .d-flex .upload span {
  z-index: 2;
  line-height: 40px;
  cursor: pointer;
}

.login-wrapper .login #cUploadImg .d-flex .upload input,
.login-wrapper .login #pUploadImg .d-flex .upload input {
  opacity: 0;
  z-index: 3;
}

.login-wrapper .login #providersServices {
  height: 80px;
  border: 1px solid #ced4da;
  cursor: text;
  overflow: auto;
}

.login-wrapper .forgot .steps {
  margin-top: 25px;
}

.login-wrapper .forgot .steps li span {
  display: inline-block;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 28px;
  background-color: #c4c4c4;
  color: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 5px;
}

.login-wrapper .forgot .steps li span.active {
  background-color: #7c2da2;
}

.login-wrapper .forgot .steps li span.done {
  background-color: #ff3f21;
}

.login-wrapper .forgot .steps li span.done i {
  color: #fff;
}

.login-wrapper .confirm .check-img img {
  max-width: 84px;
}

/*======== /Login Page  ===========*/
/*======== describing task Page  ===========*/
/*======== describing task Page  ===========*/
.navbar {
  background: #fff;
  border-bottom: 1px solid #e2e2e2;
}

.navbar .navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navbar-nav li {
  margin: 0 10px;
  position: relative;
}

.navbar .navbar-nav .dropdown .dropdown-toggle:after {
  display: none;
}

.navbar .navbar-nav .dropdown a img {
  width: 40px !important;
}

.navbar .navbar-nav .dropdown .dropdown-menu {
  left: -46px;
  -webkit-box-shadow: 2px 6px 21px -2px rgba(0, 0, 0, 0.27);
  box-shadow: 2px 6px 21px -2px rgba(0, 0, 0, 0.27);
  border: 0;
  border-radius: 5px;
}

.navbar .navbar-nav .dropdown .dropdown-menu::after {
  content: '';
  content: '';
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  top: -10px;
  right: calc(100%/2);
}

.navbar .navbar-nav .dropdown .dropdown-menu .dropdown-item i {
  margin-right: 10px;
  color: #a19ea3;
}

/*======== /navbar  ===========*/
/*======== task-details  ===========*/
#task-details .page-content-head {
  margin-bottom: -12px;
}

#task-details .details-form form {
  padding: 15px 25px;
}

#task-details .details-form form .form-group:last-child input {
  width: 200px;
  display: block;
  margin: 30px auto;
}

#task-details .offers-list {
  margin-top: 30px;
}

#task-details .offers-list .offer-item {
  margin: 15px 0;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

#task-details .offers-list .offer-item:hover {
  -webkit-box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.2);
}

#task-details .offers-list .offer-item .img-holder {
  height: 200px;
}

#task-details .offers-list .offer-item .img-holder img {
  width: 100% !important;
  height: 100% !important;
}

#task-details .offers-list .offer-item .offer-info {
  padding: 20px;
  text-align: center;
}

#task-details .offers-list .offer-item .dates {
  margin: 10px 0;
  font-size: 12px;
  color: #7c2da2;
}

#task-details .offers-list .offer-item .dates span {
  display: inline-block;
  margin: 5px;
}

#task-details .offers-list .offer-item .dates span i {
  color: #7c2da2 !important;
}

#task-details .offers-list .offres-slider {
  margin-bottom: 0 !important;
}

#task-details .offers-list .offres-slider .slick-dots {
  bottom: 15px;
}

#task-details .offers-list .offres-slider .slick-dots li button::before {
  font-size: 18px;
}

#task-details .offers-list .offres-slider .slick-dots li.slick-active button::before, #task-details .offers-list .offres-slider .slick-dots li:hover button::before {
  color: #fff;
}

#task-details .offers-list .img-holder img {
  height: auto !important;
}

#task-details .offers-list .img-holder img:hover {
  transform: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
}

/*======== /task-details  ===========*/
/*======== /describing task Page  ===========*/
/*======== waiting Page  ===========*/
#client-waiting .page-content-head {
  margin-bottom: -12px;
}

#client-waiting .container .box-content {
  height: 776px;
}

#client-waiting .container .box-content .waiting-sec .waiting-img {
  background-image: url("../img/client/wait-img.png");
  height: 237px;
  width: 366px;
  margin: 35px auto;
}

#client-waiting .container .box-content .waiting-sec p {
  color: #7c2da2;
  font-size: 18px;
  font-size: 18px;
  width: 45%;
  margin: auto;
}

/*======== /waiting Page  ===========*/
/*======== pending-offers page ===========*/
#pending-offers ul.pending-bookings-list li, #credit ul.pending-bookings-list li {
  border-radius: 2px;
  border: solid 1px #e2e2e2;
  background-color: #ffffff;
  margin-bottom: 22px;
  padding: 15px;
}

#pending-offers ul.pending-bookings-list li img, #credit ul.pending-bookings-list li img {
  margin-right: 30px;
}

#pending-offers ul.pending-bookings-list li .booking-details, #credit ul.pending-bookings-list li .booking-details {
  padding: 10px 0;
}

#pending-offers ul.pending-bookings-list li .booking-details .details-head, #credit ul.pending-bookings-list li .booking-details .details-head {
  margin-bottom: 50px;
}

#pending-offers ul.pending-bookings-list li .booking-details .details-head > div, #credit ul.pending-bookings-list li .booking-details .details-head > div {
  margin-bottom: 20px;
  color: #7c2da2;
}

#pending-offers ul.pending-bookings-list li .booking-details .details-head a.service-name, #credit ul.pending-bookings-list li .booking-details .details-head a.service-name {
  display: inline-block;
  margin-right: 10px;
}

#pending-offers ul.pending-bookings-list li .booking-details .messges-offers, #credit ul.pending-bookings-list li .booking-details .messges-offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#pending-offers ul.pending-bookings-list li .booking-details .messges-offers a,
#pending-offers ul.pending-bookings-list li .booking-details .messges-offers i, #credit ul.pending-bookings-list li .booking-details .messges-offers a,
#credit ul.pending-bookings-list li .booking-details .messges-offers i {
  margin-right: 10px;
}

/*======== /pending-offers page ===========*/
/*======== task-preview page ===========*/
#task-preview .box-content {
  padding: 0;
}

#task-preview .nav.nav-pills {
  padding: 7px 17px;
  border-bottom: solid 1px #e2e2e2;
  margin-bottom: 30px;
}

#task-preview .nav.nav-pills .nav-item .nav-link.active {
  color: #7c2da2;
  background-color: transparent;
  position: relative;
}

#task-preview .nav.nav-pills .nav-item .nav-link.active::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #7c2da2;
  bottom: -7px;
  right: 0;
}

#task-preview .tab-content .tab-pane {
  padding: 0 25px;
}

#task-preview .tab-content #TaskDetails > .row:nth-child(1) {
  margin-bottom: 100px;
}

#task-preview .tab-content #TaskDetails > .row:nth-child(2) input {
  margin: 0 0 33px 0;
  width: 170px;
}

#task-preview .tab-content #TaskDetails .details > div {
  margin-bottom: 40px;
}

#task-preview .tab-content #TaskDetails .details h6 {
  color: #7c2da2;
  margin: 0;
}

#task-preview .tab-content #TaskDetails .details span {
  color: #212121ab;
}

#task-preview .tab-content #TaskDetails .details p {
  width: 67%;
}

#task-preview .tab-content #TaskDetails .map-container {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 263px !important;
}

#task-preview .tab-content #TaskDetails .map-container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/*======== /task-preview page ===========*/
/*===pagination====*/
.pagination {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination .page-item a {
  border-radius: 5px;
  border: 0;
  color: #7c2da2;
  padding: 5px 12px;
  background-color: transparent;
}

.pagination .page-item.active a {
  background-color: #6e1799;
  margin-right: 10px;
  color: #fff;
}

.pagination .page-item a:hover {
  background-color: #6e1799;
  margin-right: 10px;
  color: #fff;
}

.pagination .page-item a:focus {
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

all pages .navbar {
  background: #fff;
  border-bottom: 1px solid #e2e2e2;
}

all pages .navbar .navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

all pages .navbar .navbar-nav li {
  margin: 0 10px;
  position: relative;
}

all pages .navbar .navbar-nav .dropdown .dropdown-toggle:after {
  display: none;
}

all pages .navbar .navbar-nav .dropdown a img {
  width: 40px !important;
}

all pages .navbar .navbar-nav .dropdown .dropdown-menu {
  left: -46px;
  -webkit-box-shadow: 2px 6px 21px -2px rgba(0, 0, 0, 0.27);
  box-shadow: 2px 6px 21px -2px rgba(0, 0, 0, 0.27);
  border: 0;
  border-radius: 5px;
}

all pages .navbar .navbar-nav .dropdown .dropdown-menu::after {
  content: '';
  content: '';
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  top: -10px;
  right: calc(100%/2);
}

all pages .navbar .navbar-nav .dropdown .dropdown-menu .dropdown-item i {
  margin-right: 10px;
  color: #a19ea3;
}

/*======== /navbar  ===========*/
/*======== task-details  ===========*/
#task-details .page-content-head {
  margin-bottom: -12px;
}

#task-details .details-form form {
  padding: 15px 25px;
}

#task-details .details-form form .form-group:last-child input {
  width: 200px;
  display: block;
  margin: 30px auto;
}

/*======== /task-details  ===========*/
/*======== /describing task Page  ===========*/
/*======== waiting Page  ===========*/
#client-waiting .page-content-head {
  margin-bottom: -12px;
}

#client-waiting .container .box-content {
  height: 776px;
}

#client-waiting .container .box-content .waiting-sec .waiting-img {
  background-image: url("../img/client/wait-img.png");
  height: 237px;
  width: 366px;
  margin: 35px auto;
}

#client-waiting .container .box-content .waiting-sec p {
  color: #7c2da2;
  font-size: 18px;
  font-size: 18px;
  width: 45%;
  margin: auto;
}

/*======== /waiting Page  ===========*/
/*======== pending-offers page ===========*/
#pending-offers ul.pending-bookings-list li {
  border-radius: 2px;
  border: solid 1px #e2e2e2;
  background-color: #ffffff;
  margin-bottom: 22px;
  padding: 15px;
}

#pending-offers ul.pending-bookings-list li img {
  margin-right: 30px;
}

#pending-offers ul.pending-bookings-list li .booking-details {
  padding: 10px 0;
}

#pending-offers ul.pending-bookings-list li .booking-details .details-head {
  margin-bottom: 50px;
}

#pending-offers ul.pending-bookings-list li .booking-details .details-head > div {
  margin-bottom: 20px;
  color: #7c2da2;
}

#pending-offers ul.pending-bookings-list li .booking-details .details-head h5 {
  display: inline-block;
  margin-right: 10px;
}

#pending-offers ul.pending-bookings-list li .booking-details .messges-offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#pending-offers ul.pending-bookings-list li .booking-details .messges-offers span,
#pending-offers ul.pending-bookings-list li .booking-details .messges-offers i {
  margin-right: 10px;
}

#pending-offers ul.pending-bookings-list li .booking-details .messges-offers .offers .notifications {
  width: 17px;
  height: 16px;
  border-radius: 8.8px;
  background-color: #ff3f21;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  text-align: center;
  font-size: 12px;
}

/*======== /pending-offers page ===========*/
/*======== task-preview page ===========*/
#task-preview .box-content {
  padding: 0;
}

#task-preview .box-content .box-head {
  margin-bottom: 0px;
  padding: 13px;
}

#task-preview .tab-content .tab-pane {
  padding: 0 25px;
}

#task-preview .tab-content #TaskDetails > .row:nth-child(1) {
  margin-bottom: 100px;
}

#task-preview .tab-content #TaskDetails > .row:nth-child(2) input {
  margin: 0 0 33px 0;
  width: 170px;
}

#task-preview .tab-content #TaskDetails .details > div {
  margin-bottom: 40px;
}

#task-preview .tab-content #TaskDetails .details h6 {
  color: #7c2da2;
  margin: 0;
}

#task-preview .tab-content #TaskDetails .details span {
  color: #212121ab;
}

#task-preview .tab-content #TaskDetails .details p {
  width: 67%;
}

#task-preview .tab-content #TaskDetails .map-container {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 263px !important;
}

#task-preview .tab-content #TaskDetails .map-container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

#task-preview .tab-content #offers ul.moving-tasks-list li {
  border-radius: 2px;
  border: solid 1px #e2e2e2;
  background-color: #ffffff;
  margin-bottom: 22px;
  padding: 15px;
}

#task-preview .tab-content #offers ul.moving-tasks-list li img {
  margin-right: 30px;
  width: 158px;
  height: 158px;
  border-radius: 12px;
}

#task-preview .tab-content #offers ul.moving-tasks-list li .moving-tasks .agency-tasks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#task-preview .tab-content #offers ul.moving-tasks-list li .moving-tasks .agency-tasks .check-offers a {
  background: #6e1799;
  color: #fff;
  width: 160px;
  text-align: center;
}

#task-preview .tab-content #offers ul.moving-tasks-list li .moving-tasks .agency-tasks .moving-agency h5 {
  color: #7c2da2;
}

#task-preview .tab-content #offers ul.moving-tasks-list li .moving-tasks .agency-tasks .moving-agency .rating {
  margin-bottom: 20px;
}

#task-preview .tab-content #offers ul.moving-tasks-list li .moving-tasks .agency-tasks .moving-agency .rating span {
  color: #7c2da2;
}

#task-preview .tab-content #offers ul.moving-tasks-list li .moving-tasks .agency-tasks .moving-agency .rating > span:last-child {
  margin-left: 6px;
}

#task-preview .tab-content #offers ul.moving-tasks-list li .moving-tasks .agency-tasks .moving-agency .tasks-numbers {
  margin-bottom: 20px;
}

#task-preview .tab-content #offers ul.moving-tasks-list li .moving-tasks .agency-tasks .moving-agency .tasks-numbers i,
#task-preview .tab-content #offers ul.moving-tasks-list li .moving-tasks .agency-tasks .moving-agency .tasks-numbers span {
  color: #b68bcc;
}

#task-preview .tab-content #offers .row {
  margin: 0 0 25px 0;
}

#task-preview .tab-content #offers .row h6 {
  margin: 6px 20px 0 0;
}

#task-preview .tab-content #offers .row a {
  border: 1px solid #7c2da2;
  border-radius: 4px;
  padding: 5px 14px;
}

#task-preview .tab-content #offers .row a i {
  color: #7c2da2;
  font-size: 12px;
  margin-right: 10px;
}

@media (min-width: 576px) {
  .modal.tasks .modal-dialog {
    max-width: 1066px;
    margin: 1.75rem auto;
  }
}

.modal.tasks .modal-dialog .modal-content {
  padding-bottom: 60px;
}

.modal.tasks .modal-dialog .modal-content .modal-body {
  padding: 10px 0;
}

.modal.tasks .modal-dialog .modal-content .modal-body .img-service {
  border-radius: 12px;
}

@media (min-width: 992px) {
  .modal.tasks .modal-dialog .modal-content .modal-body .container {
    max-width: 1050px;
  }
}

.modal.tasks .modal-dialog .modal-content .modal-body .moving-agency h5 {
  color: #7c2da2;
}

.modal.tasks .modal-dialog .modal-content .modal-body .moving-agency .rating {
  margin-bottom: 20px;
}

.modal.tasks .modal-dialog .modal-content .modal-body .moving-agency .rating span {
  color: #7c2da2;
}

.modal.tasks .modal-dialog .modal-content .modal-body .moving-agency .rating > span:last-child {
  margin-left: 6px;
}

.modal.tasks .modal-dialog .modal-content .modal-body .moving-agency .tasks-numbers {
  margin-bottom: 20px;
}

.modal.tasks .modal-dialog .modal-content .modal-body .moving-agency .tasks-numbers i,
.modal.tasks .modal-dialog .modal-content .modal-body .moving-agency .tasks-numbers span {
  color: #b68bcc;
}

.modal.tasks .modal-dialog .modal-content .modal-body .actions {
  margin-bottom: 35px;
}

.modal.tasks .modal-dialog .modal-content .modal-body .actions input {
  margin-right: 15px;
  width: 180px;
  padding: 9px 0;
}

.modal.tasks .modal-dialog .modal-content .modal-body .lastServiceReview h6 {
  margin-bottom: 14px;
}

.modal.tasks .modal-dialog .modal-content .modal-body .lastServiceReview .ServiceReview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal.tasks .modal-dialog .modal-content .modal-body .lastServiceReview .ServiceReview p {
  width: 95%;
  margin: 0;
}

.modal.tasks .modal-dialog .modal-content .modal-body .lastServiceReview .ServiceReview .client-name {
  color: #7c2da2;
}

.modal.tasks .modal-dialog .modal-content .modal-body .lastServiceReview img {
  width: 66px !important;
  height: 66px;
  border-radius: 5px;
  margin-right: 20px;
}

.modal.tasks .modal-dialog .modal-content .modal-body .lastServiceReview .date {
  color: #a19ea3;
}

.modal.tasks .modal-dialog .modal-header {
  border-bottom: 0;
  padding: 14px;
}

/*======== about us page ===========*/
.about-us-page .header-content h3 {
  font-weight: normal !important;
}

.about-us-page #about-us .task-app-img {
  position: relative;
}

.about-us-page #about-us .task-app-img img {
  height: 285px !important;
}

.about-us-page #about-us .task-app-img a {
  position: absolute;
  bottom: 153px;
  right: 150px;
  font-size: 2.4rem;
}

.about-us-page #app-store .app-img img {
  width: auto !important;
}

.about-us-page #app-store .app-img .img-fluid {
  max-width: 100% !important;
  height: auto !important;
}

.about-us-page #app-store .center-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-us-page #app-store .about-app {
  text-align: center;
}

.about-us-page #app-store .about-app h5 {
  margin-bottom: 20px;
}

.about-us-page #app-store .about-app img {
  height: 47px !important;
  width: 159px !important;
}

/*======== /about us page ===========*/
/*======== contact page ===========*/
#contact-us .contact-info > div {
  margin-bottom: 20px;
}

#contact-us .contact-info h5 {
  margin-bottom: 20px;
}

#contact-us .contact-info h6 {
  color: #7c2da2;
  margin-bottom: 0;
}

#contact-us .contact-info a {
  margin-right: 13px;
}

#contact-us h1,
#contact-us h2,
#contact-us h3,
#contact-us h4,
#contact-us h5,
#contact-us h6 {
  font-weight: normal !important;
}

#contact-us #contact input {
  width: 50%;
}

#contact-us #contact h5 {
  margin-bottom: 20px;
}

#contact-us #contact input.messges {
  height: 100px;
  width: 100%;
}

#contact-us #contact .form-group:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#contact-us #contact .form-group:last-child input {
  width: 20%;
}

/*======== add-offer Page ===========*/
#add-offer .box-content {
  padding: 53px 21px 13px 21px;
}

#add-offer .box-content form > h6:first-child {
  margin-bottom: 12px;
}

#add-offer .box-content .row {
  margin-bottom: 15px;
}

#add-offer .box-content .row .addOffer {
  text-transform: uppercase;
  width: 240px;
  padding: 8px;
}

#add-offer .box-content .form-group .uploadImages .addOffer-imgUpload {
  position: relative;
  cursor: pointer;
}

#add-offer .box-content .form-group .uploadImages .addOffer-imgUpload img,
#add-offer .box-content .form-group .uploadImages .addOffer-imgUpload input {
  width: 105px !important;
  height: 104px !important;
  cursor: pointer;
  top: 0;
}

#add-offer .box-content .form-group .uploadImages .addOffer-imgUpload input {
  outline: none !important;
  opacity: 0;
  position: absolute;
  right: 0;
  width: 79px !important;
  height: 104px !important;
  right: 25px;
}

#add-offer .box-content .form-group .uploadImages .addOffer-imgUpload span {
  position: absolute;
  right: 38px;
  font-size: 10px;
  bottom: 35px;
}

#add-offer .box-content .dateTime .input-container {
  position: relative;
}

#add-offer .box-content .dateTime .input-container h6 {
  color: #7c2da2;
}

#add-offer .box-content .dateTime .input-container input {
  padding-left: 33px;
}

#add-offer .box-content .dateTime .input-container i {
  position: absolute;
  left: 6px;
  top: 29px;
  padding: 9px 8px;
  color: #aaa;
}

/*======== /add-offer Page ===========*/
/*======== provider booking Page ===========*/
#active-bookings ul.pending-bookings-list .client-img-block,
#Scheduled ul.pending-bookings-list .client-img-block,
#Closed ul.pending-bookings-list .client-img-block, #credit ul.pending-bookings-list .client-img-block {
  width: 14%;
  margin-right: 20px;
}

#active-bookings ul.pending-bookings-list .client-img-block .client-img,
#Scheduled ul.pending-bookings-list .client-img-block .client-img,
#Closed ul.pending-bookings-list .client-img-block .client-img, #credit ul.pending-bookings-list .client-img-block .client-img {
  border-radius: 12px;
}

#active-bookings ul.pending-bookings-list li,
#Scheduled ul.pending-bookings-list li,
#Closed ul.pending-bookings-list li, #credit ul.pending-bookings-list li {
  border-radius: 2px;
  border: solid 1px #e2e2e2;
  background-color: #ffffff;
  margin-bottom: 22px;
  padding: 15px;
}

#active-bookings ul.pending-bookings-list li img,
#Scheduled ul.pending-bookings-list li img,
#Closed ul.pending-bookings-list li img, #credit ul.pending-bookings-list li img {
  margin-right: 30px;
}

#active-bookings ul.pending-bookings-list li .booking-details,
#Scheduled ul.pending-bookings-list li .booking-details,
#Closed ul.pending-bookings-list li .booking-details, #credit ul.pending-bookings-list li .booking-details {
  width: 86%;
}

#active-bookings ul.pending-bookings-list li .booking-details .details-head .details,
#Scheduled ul.pending-bookings-list li .booking-details .details-head .details,
#Closed ul.pending-bookings-list li .booking-details .details-head .details, #credit ul.pending-bookings-list li .booking-details .details-head .details {
  width: 80%;
}

#active-bookings ul.pending-bookings-list li .booking-details .details-head h5,
#Scheduled ul.pending-bookings-list li .booking-details .details-head h5,
#Closed ul.pending-bookings-list li .booking-details .details-head h5, #credit ul.pending-bookings-list li .booking-details .details-head h5 {
  margin-bottom: 0;
}

#active-bookings ul.pending-bookings-list li .booking-details .details-head p,
#Scheduled ul.pending-bookings-list li .booking-details .details-head p,
#Closed ul.pending-bookings-list li .booking-details .details-head p, #credit ul.pending-bookings-list li .booking-details .details-head p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 53%;
}

#active-bookings ul.pending-bookings-list li .booking-details .details-head .client-name,
#active-bookings ul.pending-bookings-list li .booking-details .details-head h5,
#Scheduled ul.pending-bookings-list li .booking-details .details-head .client-name,
#Scheduled ul.pending-bookings-list li .booking-details .details-head h5,
#Closed ul.pending-bookings-list li .booking-details .details-head .client-name,
#Closed ul.pending-bookings-list li .booking-details .details-head h5, #credit ul.pending-bookings-list li .booking-details .details-head .client-name,
#credit ul.pending-bookings-list li .booking-details .details-head h5 {
  color: #7c2da2;
  display: inline-block;
  margin-right: 10px;
}

#active-bookings ul.pending-bookings-list li .booking-details .end-task,
#Scheduled ul.pending-bookings-list li .booking-details .end-task,
#Closed ul.pending-bookings-list li .booking-details .end-task, #credit ul.pending-bookings-list li .booking-details .end-task {
  display: inline-block;
  border-radius: 4px;
  border: solid 1px #6e1799;
  background-color: #413e43;
  color: #ffffff;
  text-align: center;
  padding: 7px 17px;
}

#active-bookings ul.pending-bookings-list li .booking-details .end-task i,
#Scheduled ul.pending-bookings-list li .booking-details .end-task i,
#Closed ul.pending-bookings-list li .booking-details .end-task i, #credit ul.pending-bookings-list li .booking-details .end-task i {
  margin-right: 5px;
}

#active-bookings ul.pending-bookings-list li .offers-numbers,
#Scheduled ul.pending-bookings-list li .offers-numbers,
#Closed ul.pending-bookings-list li .offers-numbers, #credit ul.pending-bookings-list li .offers-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#active-bookings ul.pending-bookings-list li .offers-numbers .messges-offers span:not(:last-child),
#active-bookings ul.pending-bookings-list li .offers-numbers .messges-offers i,
#Scheduled ul.pending-bookings-list li .offers-numbers .messges-offers span:not(:last-child),
#Scheduled ul.pending-bookings-list li .offers-numbers .messges-offers i,
#Closed ul.pending-bookings-list li .offers-numbers .messges-offers span:not(:last-child),
#Closed ul.pending-bookings-list li .offers-numbers .messges-offers i, #credit ul.pending-bookings-list li .offers-numbers .messges-offers span:not(:last-child),
#credit ul.pending-bookings-list li .offers-numbers .messges-offers i {
  margin-right: 6px;
}

#active-bookings ul.pending-bookings-list li .offers-numbers .offer-num,
#Scheduled ul.pending-bookings-list li .offers-numbers .offer-num,
#Closed ul.pending-bookings-list li .offers-numbers .offer-num, #credit ul.pending-bookings-list li .offers-numbers .offer-num {
  width: 17px;
  height: 16px;
  border-radius: 8.8px;
  background-color: #ff3f21;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  text-align: center;
  font-size: 12px;
}

#active-bookings .details-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#active-bookings .details-head p {
  width: 85%;
}

/*======== /provider booking Page ===========*/
/*======== credit Page ===========*/
#credit .box-content h4 {
  font-size: 19px;
}

#credit .box-content .booking-details {
  padding: 0;
}

#credit .box-content .booking-details .details-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0 !important;
}

#credit .box-content .booking-details .details-head .price {
  font-size: 22px;
  color: #ff3f21;
}

#credit .box-content .booking-details .payement-method .payement {
  font-size: 13px;
}

#credit .box-content .booking-details .payement-method .payement > span:first-child {
  font-weight: bold !important;
}

#credit .box-content .booking-details .payement-method .payement > span:last-child {
  color: #7c2da2;
  font-weight: bold !important;
}

#credit .box-content .booking-details .payement-method .date span {
  font-size: 13px;
  color: #a19ea3;
  font-weight: bold !important;
}

/*======== /credit Page ===========*/
@media (max-width: 991.98px) {
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid {
    padding-right: 10px;
    padding-left: 10px;
  }
}

/*======== /contact page ===========*/
/*======== HotOffers-details page ===========*/
#HotOffers-details .box-content {
  padding: 53px 20px 131px 20px;
  margin-bottom: 66px;
}

#HotOffers-details .box-content .carousel-indicators {
  bottom: -45px;
  margin-right: 0;
  margin-left: 0;
}

#HotOffers-details .box-content .carousel-indicators li {
  width: 100%;
  border-radius: 0;
}

#HotOffers-details .box-content .carousel-indicators li.active {
  background-color: transparent;
  opacity: 0.5;
}

#HotOffers-details .box-content .carousel-inner .carousel-item {
  height: auto;
}

#HotOffers-details .box-content .moving-tasks p {
  font-size: 15px;
}

#HotOffers-details .box-content .moving-tasks .moving-agency .agency {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

#HotOffers-details .box-content .moving-tasks .moving-agency .agency a {
  font-size: 20px;
}

#HotOffers-details .box-content .moving-tasks .moving-agency .agency img {
  width: 40px !important;
  height: 40px !important;
  margin-right: 10px;
}

#HotOffers-details .box-content .moving-tasks .moving-agency .tasks-numbers i {
  color: #b68bcc !important;
}

#HotOffers-details .box-content .rating span {
  margin: 2px;
  font-size: 14px;
}

/*======== /HotOffers-details page ===========*/
/*======== start-work page ===========*/
#ActiveDetails p {
  font-size: 16.5px;
}

#ActiveDetails > .row:nth-child(1) {
  margin-bottom: 50px;
}

#ActiveDetails .details {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#ActiveDetails .details .clientInfo span {
  font-size: 20px;
}

#ActiveDetails .details .clientInfo img {
  width: 118px !important;
  height: 118px !important;
  border-radius: 12px;
}

#ActiveDetails .details .clientInfo .rating span {
  color: #7c2da2;
  margin: 2px;
  font-size: 14px;
}

#ActiveDetails .details h6 {
  color: #7c2da2;
  margin: 0;
}

#ActiveDetails .details span {
  color: #212121ab;
}

#ActiveDetails .map-container {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 263px !important;
}

#ActiveDetails .map-container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

#ActiveDetails .myOffer img {
  width: 158px !important;
  height: 158px !important;
  border-radius: 12px;
}

#ActiveDetails .myOffer .date {
  color: #a19ea3;
  font-size: 15px;
}

/*======== /start-work page ===========*/
/*# sourceMappingURL=style.css.map */