$mainColor: #7c2da2;
$secondaryColor: #ff7162;
@font-face{
    font-family: "normal";
    src: url("../fonts/SourceSansPro-Regular.ttf")
}
@font-face{
    font-family: "bold-font";
    src: url("../fonts/SourceSansPro-Bold.ttf")
}
body{
    margin: 0;
    font-family: "normal", cursive;
    color: #212121
}
h1,h2,h3,h4,h5,h6, .bold{
    font-weight: bold !important
}
.normal-font{
    font-family: "normal" !important;
}
.bold-font{
    font-family: "bold-font" !important;
}
.main-color{
    color: $mainColor !important
}
.main-color-bg{
    background-color: $mainColor !important
}
.s-color{
    color: $secondaryColor !important
}
.s-color-bg{
    background-color: $secondaryColor !important
}
.grey-bg{
    background-color: #f9f9f9  !important;
}
.main-btn{
    background-color: $mainColor !important;
    color: #fff !important;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 6px 15px;
    
}
a{
    text-decoration: none;
    color: $mainColor;
    display: inline-block
}
a:hover{
    text-decoration: none;
}
.btn{
    border: none;
    &:focus{
        border: none;
        outline: none;
        box-shadow: none;
    }
    &:hover{
        box-shadow: 3px 3px 7px rgba(0, 0, 0, .2);
        color: #fff
    }
}
.btn-facebook{
    background-color: #4267b2;
    color: #fff !important
}
img{
    width: 100% !important
}

p{
    font-size: 13.5px
}
ul{
    list-style: none;
    padding: 0
}
.panel{
    background-color: #eeeeee;
    padding: 20px;
    height: 100%;
}
.logo{
    font-size: 1.7rem
}
section{
    padding: 40px 0;
    .section-title{
        margin-bottom: 25px;
    }
}
.form-control:focus{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    border-color: #ccc
}
.slider-wrapper{
    position: relative;
    .content{
        padding-bottom: 35px;
    }
    &>span{
        position: absolute;
        top: 50%;
        font-size: 2rem;
        transform: translateY(-50%)    ;
        -webkit-transform: translateY(-50%)    ;
        -moz-transform: translateY(-50%)    ;
        -ms-transform: translateY(-50%)    ;
        -o-transform: translateY(-50%)    ;
        cursor: pointer;
        color: #999;
        &.prev{
            left: -35px
        }
        &.next{
            right: -35px
        }
    }
    .slider-gallery{
        margin: 20px -10px 0 -10px;
        .gallery-item{
            padding: 0 10px;
            
        }
        .item-info{
            background-color: #eee;
            text-align: center;
            padding: 20px
        }
    }

}
.slick-dots{
    bottom: -40px
}
.transition{
    transition: all ease-in-out .4s;
    -webkit-transition: all ease-in-out .4s;
    -moz-transition: all ease-in-out .4s;
    -ms-transition: all ease-in-out .4s;
    -o-transition: all ease-in-out .4s;
}
.img-holder{
    overflow: hidden;
    position: relative;
    img{
        transition: all ease-in-out 1s;
        -webkit-transition: all ease-in-out 1s;
        -moz-transition: all ease-in-out 1s;
        -ms-transition: all ease-in-out 1s;
        -o-transition: all ease-in-out 1s;
        &:hover
        {
            transform: scale(1.2) rotate(2deg)        ;
            -webkit-transform: scale(1.2) rotate(2deg)        ;
            -moz-transform: scale(1.2) rotate(2deg)        ;
            -ms-transform: scale(1.2) rotate(2deg)        ;
            -o-transform: scale(1.2) rotate(2deg)        ;
        }       
    }
}
.iti{
    display: block;
}
.custom-control-input:focus~.custom-control-label::before {
    box-shadow: none;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #7c2da2;
}
.custom-control-label::before{
    background-color: #fff;
    border: 1px solid #222
}
.custom-checkbox .custom-control-label::before{
    border-radius: 0;
}
.custom-control-label{
    user-select: none
}
.slick-prev::before {
    content: "<";
    color: #aaa;
    font-size: 30px;
  }
  
  .slick-next:before {
    content: ">";
    color: #aaa;
    font-size: 30px;
  }
::placeholder{
    color: #a19ea3 !important;


}
li.notify::after{
    content: '';
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #ff3f21;
    position: absolute;
    right: 0;
    top: 6px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.page-content{
    margin-top: 60px;
    .page-content-head{
        margin-bottom: 30px;   
    }
}
.other-Service {
    margin-bottom: 25px
}
.box-content{
    background-color: #fff;
    border:solid 1px #e2e2e2;
    padding: 22px;
    height: auto;
}
.box-head{
    border-bottom: 2px solid #f9f9f9;
    margin-bottom: 30px;
    h5{
        padding: 0 5px;
        color: $mainColor;
        display: inline-block;
        font-weight: 600;
       
    }
}
footer.home-footer{
    padding: 40px 0 0 0 !important;
}
i.fas , i.far{
    color: #a19ea3;
}
.center-block{
    display: flex;
    align-items: center;
}

//accordian

.accord{
    margin: 30px 0;
    .accord-item{
        border: 1px solid #e2e2e2;
        margin: 10px 0;
        padding: 10px 20px;
        .accord-link{
            display: block;
            position: relative;
            font-size:  20px;
            padding: 5px 0;
            transition: all ease .2s;
            color: #212121;
            i{
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%)            ;
                -webkit-transform: translateY(-50%)            ;
                -moz-transform: translateY(-50%)            ;
                -ms-transform: translateY(-50%)            ;
                -o-transform: translateY(-50%)            ;
            }
            &.active, &:hover{
                color: $mainColor;
                i{
                    color: $mainColor;
                }
            }
        }
        .item-content{
            padding: 20px 0;
            font-size: 14px
        }
    }

}

.terms {
    p{
        font-size: 14px;
        margin: 0;
    }
}



/*============================  Start Header Styling  ===============================*/
header{
    height: 100vh;
    padding-top: 30px;
    background-image: url("../img/home/header-bg.png");
    background-position: 0 60px;
    background-size: cover;
    position: relative;
   
    .header-content{
        height: 100%;
        align-items: center;
        text-align: center;
        .wrapper{
            margin-top: -30px;
            .form-group{
                .form-control{
                    padding: 25px;
                    font-size: 1.2rem;
                    position: relative;
                }
                .fas{
                    position: absolute;
                    right: 40px;
                    top: 18px;
                    font-size: 1rem
                }
            }
        }
    }
    &#subCatHead{
        background-image: url("../img/home/home_services.jpg");
        height: 350px;
        .wrapper{
            margin: 0;
            color: #fff;
            font-weight: bold;       
        }
        &:before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, .3);
        }
    }
    &.customer{
        background-image: none;
    }
}
.navbar{
    background-color: #fff;
    padding: 10px 0;
    @extend .transition;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    .navbar-brand{
        font-size: 2rem;
    }
    .nav-item{
        .nav-link{
            color: $mainColor
        }
        &.active{
            .nav-link{
                font-weight: bold
            }
        }
    }
    .login-btn{
        color: $mainColor;
        border: 1px solid $mainColor;
        padding: 5px 15px;
        @extend .transition;
        margin-left: 10px;
        &:hover{
            background-color: $mainColor;
            color: #fff
        }
    }
    
    
    
}
.navbar-toggler:not(:disabled):not(.disabled){
    background-color: $mainColor;
    color: #fff ;
    border: none;
    padding: 0.45rem .75rem;
    &:focus{
        border: none;
        outline: none;
        box-shadow: none;
    }
}
.carousel-inner{
    .carousel-item{
        position: relative;
        height: 514px;
        img{
            height: 100%;
        }
        .offer-details{
            position: absolute;
            left: 90px;
            top: 50%;
            transform: translateY(-50%)        ;
            -webkit-transform: translateY(-50%)        ;
            -moz-transform: translateY(-50%)        ;
            -ms-transform: translateY(-50%)        ;
            -o-transform: translateY(-50%)        ;
            .btn{
                background-color: #fff;
                padding: 10px 17px;
                &:hover{
                    color: #212121
                }
            }
        }
    }
}
.carousel-indicators {
    li{
        width: 11px;
        height: 11px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        opacity: 1;
        &.active{
            background-color: $mainColor
        }
    }
}
/*============================  End Header Styling  ===============================*/
#services{
    .single-service{
        .img-holder{
            height: 300px;
            img{
                width: 100%;
                height: 100%;
            }
    }
}
    .slider-gallery{

        .img-holder{
            height: 200px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        h4{
            font-size: 1.1rem
        }
        a.btn{
            font-size: .9rem
        }
    }
}

#works{
    .img-holder{
        padding: 20px;
        img:hover{
            transform: none        ;
            -webkit-transform: none        ;
            -moz-transform: none        ;
            -ms-transform: none        ;
            -o-transform: none        ;
        }
    }
    h4{
        margin: 30px 0;
        color: $mainColor
    }
    p{
        text-align: justify
    }
}


/*======== testmonials ===========*/
#testmonials{
    .slider-gallery{
        .test-item{
            padding: 0 20px;
            &>p{
                font-size: 13.5px;
                line-height: 23px
            }
            .info{
                .img-wrapper{
                    width: 79px;
                    height: 79px;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    overflow: hidden;
                    img{
                        width: 100%
                    }
                   
                
                }
                .p-name{
                    margin-left: 20px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column; 
                    h5,p{
                        margin: 0;
                    }
                    h5{
                        font-size: 18.5px;
                    }
                    
                }   
            }
        }
    }
}
/*======== /testmonials ===========*/

/*======== m-app ===========*/
#m-app{
    padding: 20px 0;
    .img-wrapper{
        position: relative;
        height: 100%;
        img{
            width: 50% !important;
            max-width: 50% !important;
            position: relative;
            bottom: -20px;
            left: 50%;
            transform: translateX(-50%)        ;
            -webkit-transform: translateX(-50%)        ;
            -moz-transform: translateX(-50%)        ;
            -ms-transform: translateX(-50%)        ;
            -o-transform: translateX(-50%)        ;
        }
    }
    .info{
        display: flex;
        align-content: center;
        flex-direction: column;
        justify-content: center;
        img{
            width: 120px !important;
            margin: 0 auto
        }
    }
}
/*======== /m-app ===========*/
/*======== footer ===========*/
footer{
    padding: 0;
    border-top: 1px solid #eee;
    ul{
        margin-bottom: 20px;
        li{
            a{
                font-weight: bold;
                font-size: 13px;
                color: #777;
                &:hover{
                    color: #333;
                }
                i{
                    width: 20px
                }
            }
        }
    }
    a.logo{
        font-size: 1.6rem
    }
    .copyright{
        padding: 20px 0;
        // border-top: 1px solid #eee;
        a{
            padding: 0 5px;
            &.active{
                color: $mainColor;
                font-weight: bold
            }
        }
    }
}
/*======== /footer ===========*/

/*======== sub-services ===========*/
#sub-services{
    .item{
        background-color: #fff;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
        @extend .transition;
        margin-bottom: 30px;
        &:hover{
            box-shadow: 1px 5px 8px rgba(0, 0, 0, .2);

        }
        .info{
            padding: 10px;
            text-align: center;

        }
        .img-holder{
            height: 250px;
            img{
                width: 100% !important;
                height: 100% !important
            }
        }
        h4{
            font-size: 1.2rem
        }
    }
}
/*======== /sub-services ===========*/

/*======== Login Page  ===========*/
.login-wrapper{
    background-image: url("../img/login/bg.png");
    height: 100vh;
    overflow: auto;
    background-size: cover;
    .login{
        background-color: #fff;
        padding: 20px;
        margin-top: 10vh;
        .logo{
            margin-bottom: 20px
        }
        .btn-facebook{
            position: relative;
            i{
                position: absolute;
                left: 10px;
                top: 50%;
                transform: translateY(-50%)            ;
                -webkit-transform: translateY(-50%)            ;
                -moz-transform: translateY(-50%)            ;
                -ms-transform: translateY(-50%)            ;
                -o-transform: translateY(-50%)            ;
}
        }
        .provider-reg, .customer-reg{
            img{
                width: 70px !important
            }
        }
        #cUploadImg, #pUploadImg{
            .d-flex{
                .img-wrapper{
                    width: 77px;
                    height: 77px;
                    margin-right: 15px;
                    img{
                        width: 115% !important
                    }
                }
                .upload{
                    display: inline-block;
                    padding: 10px;
                    background-color: #f9f9f9;
                    position: relative;
                    width: 100px;
                    height: 40px;
                    margin-top: 15px;
                    overflow: hidden;
                    span,input{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        text-align: center  
                    }
                    span{
                        z-index: 2;
                        line-height: 40px;
                        cursor: pointer;
                    }
                    input{
                        opacity: 0;
                        z-index: 3
                    }
                }
            }
        }
        #providersServices{
            height: 80px;
            border: 1px solid #ced4da;
            cursor: text;
            overflow: auto
        }
    }
    .forgot{
        .steps{
            margin-top: 25px;
            li{
                span{
                    display: inline-block;
                    height: 30px;
                    width: 30px;
                    text-align: center;
                    line-height: 28px;
                    background-color: #c4c4c4;
                    color: #fff;
                    border-radius: 50%                ;
                    -webkit-border-radius: 50%                ;
                    -moz-border-radius: 50%                ;
                    -ms-border-radius: 50%                ;
                    -o-border-radius: 50%                ;
                    margin-right: 5px;
                    &.active{
                        background-color: $mainColor
                    }
                    &.done{
                        background-color: #ff3f21;
                        i{
                            color: #fff
                        }
                    }
                }
            }
        }
    }
    .confirm{
        .check-img{
            img{
                max-width: 84px
            }
        }
    }
}
/*======== /Login Page  ===========*/

/*======== describing task Page  ===========*/
/*======== describing task Page  ===========*/
.navbar {
    background: #fff;
    border-bottom: 1px solid #e2e2e2;
    .navbar-nav {
     display: flex; 
     align-items: center; 

        li{
            margin: 0 10px;
            position: relative;

        }
        .dropdown{

            .dropdown-toggle{
                &:after{
                    display: none;
                 }
            }
            a{
                img{
                    width: 40px !important;
                }
            }
            .dropdown-menu {

                left: -46px;
                -webkit-box-shadow: 2px 6px 21px -2px rgba(0, 0, 0, 0.27);
                -moz-box-shadow:2px 6px 21px -2px rgba(0, 0, 0, 0.27);
                box-shadow: 2px 6px 21px -2px rgba(0, 0, 0, 0.27);
                border: 0;
                border-radius: 5px;
                &::after{
                    content:'';
                    content: '';
                    border-width: 5px;
                    border-style: solid;
                    border-color: transparent transparent #fff transparent;
                    position: absolute;
                    top: -10px;
                    right: calc(100%/2);
                }
                .dropdown-item{
                    i{
                        margin-right: 10px;
                        color: #a19ea3;
                    }
                }
            }
        }
    }
}
/*======== /navbar  ===========*/
/*======== task-details  ===========*/


#task-details{
    .page-content-head{
        margin-bottom: -12px;
    }
    .details-form{
        form{
            padding: 15px 25px;
            .form-group:last-child{
                input{
                    width: 200px;
                    display: block;
                    margin: 30px auto;
                }
            }
        }
      
    }
    .offers-list{
        margin-top: 30px;
        .offer-item{
            margin: 15px 0;
            background-color: #fff;
            box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
            @extend .transition;
            &:hover{
                box-shadow: 1px 5px 8px rgba(0, 0, 0, .2);

            }
            .img-holder{
                height: 200px;
                img{
                    width: 100% !important;
                    height: 100% !important;
                    
                }
            }
            .offer-info{
                padding: 20px;
                text-align: center
            }
            .dates{
                margin: 10px 0;
                font-size: 12px;
                color: $mainColor;
                span{
                    display: inline-block;
                    
                    margin: 5px;
                    i{
                        color: $mainColor !important
                    }
                }
            }
        }
        .offres-slider{
            margin-bottom: 0 !important;
            .slick-dots{
                bottom: 15px;
                li{
                    button{
                        &::before{
                            font-size: 18px
                        }
                    }
                    &.slick-active, &:hover{
                        button{
                            &::before{
                                color: #fff
                            }
                        }   
                    }
                }
            }
           
        }
        .img-holder{
                
            img{
                height: auto !important;
                &:hover{
                    transform: none                ;
                    -webkit-transform: none                ;
                    -moz-transform: none                ;
                    -ms-transform: none                ;
                    -o-transform: none                ;
                }
            }
        }
    }
}
/*======== /task-details  ===========*/

/*======== /describing task Page  ===========*/


/*======== waiting Page  ===========*/
#client-waiting {
    .page-content-head{
        margin-bottom: -12px;
    }
    .container{
        .box-content{
            height: 776px;
            .waiting-sec{
                .waiting-img{
                  background-image: url("../img/client/wait-img.png");
                  height: 237px;
                  width: 366px;
                  margin: 35px auto;
                }
                p{
                    color: $mainColor;
                    font-size: 18px;
                    font-size: 18px;
                    width: 45%;
                    margin: auto;
                }
            }

        }
    }

}

/*======== /waiting Page  ===========*/

/*======== pending-offers page ===========*/
#pending-offers{
    ul.pending-bookings-list{
        li{
            border-radius: 2px;
            border: solid 1px #e2e2e2;
            background-color: #ffffff;
            margin-bottom: 22px;
            padding: 15px;
            img{
                margin-right: 30px;
            }
            .booking-details{
                padding: 10px 0;
                .details-head{
                    margin-bottom: 50px;
                    &>div{
                        margin-bottom: 20px;
                        color: $mainColor;
                    }
                    h5{
                        display: inline-block;
                        margin-right: 10px;
                    }
                }
              .messges-offers{
                display: flex;
                justify-content: flex-end;
                  span,i{
                      margin-right: 10px;
                  }
                  .offers{
                      
                   .notifications{
                        width: 17px;
                        height: 16px;
                        border-radius: 8.8px;
                        background-color: #ff3f21;
                        display: inline-block; 
                        vertical-align: middle;
                        color: #fff;
                        text-align: center;
                        font-size: 12px;
                      }
                  }
              }
            }
        }
    }
}
/*======== /pending-offers page ===========*/

/*======== task-preview page ===========*/
#task-preview{
    .box-content{
        padding: 0;
    }
    .nav.nav-pills{
        padding: 7px 17px;
        border-bottom: solid 1px #e2e2e2;
        margin-bottom: 30px;
        .nav-item{
            .nav-link.active{
                color: $mainColor;
                background-color: transparent;
                position: relative;
                &::before{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 4px;
                    background-color: #7c2da2;
                    bottom: -7px;
                    right: 0;
                }
            }
        }
    }
    .tab-content{
        .tab-pane{
            padding: 0 25px;
        }
        #TaskDetails{
            &>.row:nth-child(1){
                margin-bottom: 100px;
            }
            &>.row:nth-child(2){
                input{
                    margin: 0 0 33px 0;
                    width: 170px;
                }
            }
            .details{
                &>div{
                    margin-bottom: 40px;
                }
                h6{
                    color: $mainColor;
                    margin: 0
                }
                span{
                    color: #212121ab;
                }
                p{
                    width: 67%;
                }
            }
            .map-container{
                overflow:hidden;
                padding-bottom:56.25%;
                position:relative;
                height:263px !important;
                iframe{
                    left:0;
                    top:0;
                    height:100%;
                    width:100%;
                    position:absolute;

                }


            }
        }
    }
    
}


/*======== /task-preview page ===========*/
/*===pagination====*/

.pagination {
    justify-content: center;
    .page-item{
        a{
            border-radius: 5px;
            border: 0;
            @extend .transition;
            color: $mainColor;
            padding: 5px 12px;
            background-color: transparent;  
        }
        &.active{
            a{
                background-color: #6e1799;
                margin-right: 10px;
                color: #fff;
              
            }

        }
        a:hover{
            background-color: #6e1799;
            margin-right: 10px;
            color: #fff;
            
        }
        a:focus{
            border: none;
            outline: none;
            box-shadow: none
        }
       
    }

}


all pages
/*======== describing task Page  ===========*/
.navbar {
    background: #fff;
    border-bottom: 1px solid #e2e2e2;
    .navbar-nav {
     display: flex; 
     align-items: center; 

        li{
            margin: 0 10px;
            position: relative;

        }
        .dropdown{

            .dropdown-toggle{
                &:after{
                    display: none;
                 }
            }
            a{
                img{
                    width: 40px !important;
                }
            }
            .dropdown-menu {

                left: -46px;
                -webkit-box-shadow: 2px 6px 21px -2px rgba(0, 0, 0, 0.27);
                -moz-box-shadow:2px 6px 21px -2px rgba(0, 0, 0, 0.27);
                box-shadow: 2px 6px 21px -2px rgba(0, 0, 0, 0.27);
                border: 0;
                border-radius: 5px;
                &::after{
                    content:'';
                    content: '';
                    border-width: 5px;
                    border-style: solid;
                    border-color: transparent transparent #fff transparent;
                    position: absolute;
                    top: -10px;
                    right: calc(100%/2);
                }
                .dropdown-item{
                    i{
                        margin-right: 10px;
                        color: #a19ea3;
                    }
                }
            }
        }
    }
}
/*======== /navbar  ===========*/
/*======== task-details  ===========*/


#task-details{
    .page-content-head{
        margin-bottom: -12px;
    }
    .details-form{
        form{
            padding: 15px 25px;
            .form-group:last-child{
                input{
                    width: 200px;
                    display: block;
                    margin: 30px auto;
                }
            }
        }
      
    }
 
}
/*======== /task-details  ===========*/

/*======== /describing task Page  ===========*/


/*======== waiting Page  ===========*/
#client-waiting {
    .page-content-head{
        margin-bottom: -12px;
    }
    .container{
        .box-content{
            height: 776px;
            .waiting-sec{
                .waiting-img{
                  background-image: url("../img/client/wait-img.png");
                  height: 237px;
                  width: 366px;
                  margin: 35px auto;
                }
                p{
                    color: $mainColor;
                    font-size: 18px;
                    font-size: 18px;
                    width: 45%;
                    margin: auto;
                }
            }

        }
    }

}

/*======== /waiting Page  ===========*/

/*======== pending-offers page ===========*/
#pending-offers{
    ul.pending-bookings-list{
        li{
            border-radius: 2px;
            border: solid 1px #e2e2e2;
            background-color: #ffffff;
            margin-bottom: 22px;
            padding: 15px;
            img{
                margin-right: 30px;
            }
            .booking-details{
                padding: 10px 0;
                .details-head{
                    margin-bottom: 50px;
                    &>div{
                        margin-bottom: 20px;
                        color: $mainColor;
                    }
                    h5{
                        display: inline-block;
                        margin-right: 10px;
                    }
                }
              .messges-offers{
                display: flex;
                justify-content: flex-end;
                  span,i{
                      margin-right: 10px;
                  }
                  .offers{
                      
                   .notifications{
                        width: 17px;
                        height: 16px;
                        border-radius: 8.8px;
                        background-color: #ff3f21;
                        display: inline-block; 
                        vertical-align: middle;
                        color: #fff;
                        text-align: center;
                        font-size: 12px;
                      }
                  }
              }
            }
        }
    }
}
/*======== /pending-offers page ===========*/

/*======== task-preview page ===========*/
#task-preview{
    .box-content{
        padding: 0;
        .box-head{
        margin-bottom: 0px; 
        padding: 13px;
        }
    }
    .tab-content{
        .tab-pane{
            padding: 0 25px;
        }
        #TaskDetails{
            &>.row:nth-child(1){
                margin-bottom: 100px;
            }
            &>.row:nth-child(2){
                input{
                    margin: 0 0 33px 0;
                    width: 170px;
                }
            }
            .details{
                &>div{
                    margin-bottom: 40px;
                }
                h6{
                    color: $mainColor;
                    margin: 0
                }
                span{
                    color: #212121ab;
                }
                p{
                    width: 67%;
                }
            }
            .map-container{
                overflow:hidden;
                padding-bottom:56.25%;
                position:relative;
                height:263px !important;
                iframe{
                    left:0;
                    top:0;
                    height:100%;
                    width:100%;
                    position:absolute;

                }


            }
        }
        #offers{
            ul.moving-tasks-list{

                li{
                    border-radius: 2px;
                    border: solid 1px #e2e2e2;
                    background-color: #ffffff;
                    margin-bottom: 22px;
                    padding: 15px;
                    img{
                        margin-right: 30px;
                        width: 158px;
                        height: 158px;
                        border-radius: 12px;
                    }
                    .moving-tasks{
                        .agency-tasks{
                            display: flex;
                            justify-content: space-between;
                            .check-offers{
                                a{
                                    background: #6e1799;
                                    color: #fff;
                                    width: 160px;
                                    text-align: center;
                                }
                            }
                            
                            .moving-agency{
                                h5{
                                    color: $mainColor
                                }
                                .rating{
                                    margin-bottom: 20px;
                                    span{
                                        color: $mainColor;
                                    }
                                    &>span:last-child{
                                        margin-left: 6px;  
                                    }
                                }
                                .tasks-numbers{
                                    margin-bottom: 20px;
                                    i,span{
                                        color: #b68bcc;
                                    }
                                }
                            }

                        }
                    }
                }
            }
            .row{
                margin: 0 0 25px 0;
                
                h6{
                    margin: 6px 20px 0 0
             
                }
                a{
                    border: 1px solid #7c2da2;
                    border-radius: 4px;
                    padding: 5px 14px;
                    i{
                        color: $mainColor;
                        font-size: 12px;
                        margin-right: 10px;
                    }
                
                }

            }

        }
    }

    
}
// model


.modal.tasks{
    @media (min-width: 576px)
    {
        .modal-dialog {
            max-width: 1066px;
            margin: 1.75rem auto;
        }
    }
    .modal-dialog{
        
        .modal-content{
            padding-bottom: 60px;
            .modal-body{
                padding: 10px 0;
                .img-service{
                    border-radius: 12px;
                }
                @media (min-width: 992px){
                    .container {
                        max-width: 1050px;
                    }
                       
                }

             .moving-agency{
                    h5{
                        color: $mainColor
                    }
                    .rating{
                        margin-bottom: 20px;
                        span{
                            color: $mainColor;
                        }
                        &>span:last-child{
                            margin-left: 6px;  
                        }
                    }
                    .tasks-numbers{
                        margin-bottom: 20px;
                        i,span{
                            color: #b68bcc;
                        }
                    }
                }
                .actions{
                    margin-bottom: 35px;
                
                    input{
                        margin-right: 15px;
                        width: 180px;
                        padding: 9px 0;
                    }
                }
                .lastServiceReview{
                    h6{
                        margin-bottom: 14px;
                    }
                    .ServiceReview{
                        display: flex;
                        p{
                            width: 95% ;
                            margin: 0;
                        }
                        .client-name{
                            color: $mainColor;
                        }
                    }
                    img{
                        width: 66px !important;
                        height: 66px;
                        border-radius: 5px;
                        margin-right: 20px;
                    }
                    .date{
                        color: #a19ea3;
                    }

                }
            }
        }
        .modal-header{
            border-bottom: 0;
            padding: 14px;
        }
        

    }
}
// @media (min-width: 576px)
// {
//     .modal-dialog {
//         max-width: 1066px;
//         margin: 1.75rem auto;
//     }
// }

/*======== about us page ===========*/
.about-us-page{
    .header-content{
        h3{
            font-weight: normal !important;
        }
    }
    #about-us{
        .task-app-img{
            position: relative;
            img{
                height: 285px !important;
            }
            a{
                position: absolute;
                bottom: 153px;
                right: 150px;
                font-size: 2.4rem;
            }
        }
    }
    #app-store{
        .app-img{
            img{
                width: auto !important;
            }
            .img-fluid{
                max-width: 100% !important;
                height: auto !important;
            }
        }
        .center-block{
            display: flex;
            align-items: center;
        }
        .about-app{
            text-align: center;
            h5{
                margin-bottom: 20px;
            }
            img{
                height: 47px !important;
                width: 159px !important;
            } 
        }
    }
    
}

/*======== /about us page ===========*/

/*======== contact page ===========*/
#contact-us{
    .contact-info{
        &>div{
            margin-bottom: 20px;
        }
        h5{
            margin-bottom: 20px;
        }
        h6{
            color: $mainColor;
            margin-bottom:0
        }
        a{
            margin-right: 13px;
        }
    }
    h1 ,h2 ,h3 ,h4 ,h5 ,h6{
        font-weight: normal !important ;
    }
    
    #contact{
        input{
            width: 50%;
        }
        h5{
            margin-bottom: 20px;
        }
       input.messges{
            height: 100px;
            width: 100%;
        }
        .form-group:last-child{
            display: flex;
            justify-content: flex-end;
            input{
                width: 20%;
            }
        }
    }

}








/////////////media//////////////////////
@media (max-width: 991.98px){
    .navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid {
        padding-right: 10px;
        padding-left: 10px;
    }
}







/*======== /contact page ===========*/
